{{!< ../layouts/default}}

<form action="/Scouts/" method="post">
    <div>
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname" />

        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname"/>

        <label for="birthdate">Birthdate</label>
        <input type="date" id="birthdate" name="birthdate"/>

        <label for="rank">Rank</label>
        <input type="rank" id="rank" name="rank" />
    </div>
    <input type="submit" value="Create" />
</form>