<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{> css}}
    {{> scripts}}
    <script type="text/javascript">
        (function() {
            $('ul.nav-tabs li').removeClass('active');
        }())
    </script>
</head>
<body>
<ul class="nav nav-tabs">
    <li id="scouts-tab"><a href="/Scouts">Scouts</a></li>
    <li id="akelas-tab"><a href="/Akelas">Akelas</a></li>
</ul>
{{{body}}}
</body>
</html>