<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{> css}}
    {{> scripts}}
</head>
<body>
<ul class="nav nav-list">
    <li class="nav-tabs"><a href="/Scouts">Scouts</a></li>
</ul>
{{{body}}}
</body>
</html>